{% extends 'base.html' %}

{% block title %}TechService - Log in{% endblock %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static', path='css/auth/auth.css') }}">{% endblock %}

{% block content %}
    <main class="container">
        <div class="form-card">
            <h2>Log In to TechService</h2>

            {% if flash_msg %}
                <div class="flash-message error-message">
                    <span>{{ flash_msg }}</span>
                </div>
            {% endif %}

            <form method="post" class="auth-form">
                
                <label for="username">Username or Email</label>
                <input type="text" id="username" name="username" placeholder="Enter your username or email" required>
                
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
                
                <button type="submit" class="btn">Log In</button>
            </form>

            <p class="form-footer">
                Don't have an account? <a href="{{ request.url_for('signup') }}">Sign up here</a>
            </p>
        </div>
    </main>
{% endblock %}