{% extends 'base.html' %}

{% block head %}
    <title>TechService - Problems</title>
{% endblock %}

{% block content %}
    <h2>Actual requests:</h2>
    {% for problem in problem_list %}
        <div>
            <h3>Request #{{ problem.id }}: {{ problem.title }}</h3>
            
            <p><strong>Status:</strong> {{ problem.status }}</p>

            <hr>
            
            <p><strong>Description:</strong></p>
            <p>{{ problem.description }}</p>
            
            <p><strong>Date created:</strong> {{ problem.date_created.strftime('%Y-%m-%d %H:%M') }}</p>
            
            {% if problem.user %}
                <p><strong>Created by user:</strong> {{ problem.user.username }}</p>
            {% endif %}
            
            {% if problem.admin %}
                <p><strong>Administrator:</strong> {{ problem.admin.username }}</p>
            {% else %}
                <p><strong>Administrator:</strong> Not assigned</p>
            {% endif %}
        </div>
        <hr>
        <hr>

        <form action="{{ request.url_for('admin_problem') }}" method="get">
            <input type="hidden" name="problem_id" value="{{problem.id}}">
            <button type="submit">View</button>
        </form>
    {% endfor %}
{% endblock %}