{% extends 'base.html' %}

{% block head %}
    <title>TechService - Home</title>
{% endblock %}

{% block content %}
    {% if flash_msg %}
        <div>
            <span>{{ flash_msg }}</span>
        </div>
    {% endif %}

    <h1>Welcome on the TechService website!</h1>
    <p>This is the home page.</p>

    {% if user %}
        <form action="{{ request.url_for('logout') }}" method="post">
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{{ request.url_for('login') }}">Login</a>
        <a href="{{ request.url_for('signup') }}">Sign Up</a>
    {% endif %}
{% endblock %}