{% extends 'base.html' %}

{% block head %}
    <title>TechService - Problem</title>
{% endblock %}

{% block content %}
    <h1>Service Problem Form</h1>
    
    {% if flash_msg %}
        <h3>{{flash_msg}}</h3>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="description" placeholder="Description">
        <input type="file" name="img">
        <button type="submit">Send</button>
    </form>
{% endblock %}
