{% extends 'base.html' %}

{% block head %}
    <title>TechService - Problems</title>
{% endblock %}

{% block content %}
    {% if flash_msg %}
        <div>
            <span>{{ flash_msg }}</span>
        </div>
    {% endif %}

    <h1>Problems main page</h1>
    <p>Welcome, {{ user[0] }}!</p>

    {% for problem in problems %}
        <div>
            <h3>Request #{{ problem.id }}: {{ problem.title }}</h3>
            
            <p><strong>Status:</strong> {{ problem.status }}</p>

            <hr>
            
            <p><strong>Description:</strong></p>
            <p>{{ problem.description }}</p>
            
            <p><strong>Date created:</strong> {{ problem.date_created.strftime('%Y-%m-%d %H:%M') }}</p>
            
            {% if problem.user %}
                <p><strong>Created by user:</strong> {{ problem.user.username }}</p>
            {% endif %}
            
            {% if problem.admin %}
                <p><strong>Administrator:</strong> {{ problem.admin.username }}</p>
            {% else %}
                <p><strong>Administrator:</strong> Not assigned</p>
            {% endif %}
            
            {% if problem.image_url %}
                <div>
                    <p><strong>Added image:</strong></p>
                    <img src="{{ url_for('static', path=problem.image_url) }}" alt="Added image" style="width: 100px; height: 150px;">
                </div>
            {% endif %}
            
        </div>
        <hr>
        <hr>
    {% endfor %}
    
{% endblock %}