{% extends 'base.html' %}

{% block head %}
    <title>TechService - Requests</title>
{% endblock %}

{% block content %}
    {% if flash_msg %}
        <div>
            <span>{{ flash_msg }}</span>
        </div>
    {% endif %}

    <h1>Requests main page</h1>
    <p>Welcome, {{ user[0] }}!</p>

    {% for problem in problems %}
        <div>
            <h3>Заявка #{{ problem.id }}: {{ problem.title }}</h3>
            
            <p><strong>Статус:</strong> {{ problem.status }}</p>

            <hr>
            
            <p><strong>Опис:</strong></p>
            <p>{{ problem.description }}</p>
            
            <p><strong>Дата створення:</strong> {{ problem.date_created.strftime('%Y-%m-%d %H:%M') }}</p>
            
            {% if problem.user %}
                <p><strong>Створено користувачем:</strong> {{ problem.user.username }}</p>
            {% endif %}
            
            {% if problem.admin %}
                <p><strong>Адміністратор:</strong> {{ problem.admin.username }}</p>
            {% else %}
                <p><strong>Адміністратор:</strong> Не призначено</p>
            {% endif %}
            
            {% if problem.image_url %}
                <div>
                    <p><strong>Додане зображення:</strong></p>
                    <img src="{{ url_for('static', path=problem.image_url) }}" alt="Додане зображення" style="width: 100px; height: 150px;">
                </div>
            {% endif %}
            
        </div>
        <hr>
        <hr>
    {% endfor %}
    
{% endblock %}